/* .pro-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--lighterer);
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  transition: var(--transition);
} */

/*ref = .acc-container*/
.pro-container {
  display: grid;
  gap: 2rem;
  padding: 2rem 3rem;
}
/* 
.pro-container {
  padding: var(--l);
  width: 50%;
} */

/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; */

.pro-card {
  margin: 0;
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--lighterer);
  transition: var(--transition);
}

.pro-card:hover {
  background: transparent;
  color: var(--darkBlue);
  border: 1px solid var(--blue);
  cursor: default;
}

.pro-card h3 {
  margin: 1rem;
  text-align: center;
}

.pro-item-image {
  height: 14rem;
  aspect-ratio: 3/2;
  overflow: hidden;
  /* center the image */
  margin-left: auto;
  margin-right: auto;
}

.pro-item-cta {
  text-align: center;
}

.pro-item-cta a {
  color: var(--darkest);
}
