/* .pro-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--lighterer);
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  transition: var(--transition);
} */

.pro-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: var(--m);
}

.pro-card {
  background-color: var(--lightest);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid var(--ligherer);
  transition: var(--transition);
}

.pro-card:hover {
  background: transparent;
  color: var(--darkBlue);
  border: 1px solid var(--blue);
  cursor: default;
}

.pro-card h3 {
  margin: 1rem;
  text-align: center;
}

.pro-item-cta {
  text-align: center;
}
