/* .pro-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--lighterer);
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  transition: var(--transition);
} */

/*ref = .acc-container*/
.pro-container {
  display: grid;
  gap: 2rem;
  padding: 2rem 3rem;
}
/* 
.pro-container {
  padding: var(--l);
  width: 50%;
} */

/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem; */

.pro-card {
  margin: 0;
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--lighterer);
  transition: var(--transition);
}

.pro-card:hover {
  background: transparent;
  color: var(--darkBlue);
  border: 1px solid var(--blue);
  cursor: default;
}

.pro-card h3 {
  margin: 1rem;
  text-align: center;
}

.pro-item-image {
  height: 14rem;
  aspect-ratio: 3/2;
  overflow: hidden;
  /* center the image */
  margin-left: auto;
  margin-right: auto;
}

.pro-item-cta {
  text-align: center;
}

.pro-item-cta a {
  color: var(--darkest);
}

/* Add extra space at the bottom of the slider container */
.swiper {
  padding-bottom: 60px !important; /* Increase this if dots are still too close to the edge */
}

/* Base style for all dots (24x24px) */
.swiper-pagination-bullet {
  width: 24px !important;
  height: 24px !important;
  display: inline-block;
  border-radius: 50%;
  background: var(--color-primary-variant); /* Or your preferred color */
  opacity: 0.6;
  
  /* Increase spacing between dots, ensure the dots don't have a negative margin pulling them out of the frame*/
  margin: 0 12px !important; 
  
  transition: all 0.3s ease; /* Smooth transition when resizing */
}

/* Style for the active dot (26x26px) */
.swiper-pagination-bullet-active {
  width: 26px !important;
  height: 26px !important;
  opacity: 1;
  background: var(--color-primary); /* Or your preferred active color */
}

/* Ensure the container has enough height for larger dots */
.swiper-pagination {
  bottom: 15px !important; 
  display: flex;
  align-items: center;
  justify-content: center;
}