@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap");

* {
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* instead of a straight jump, smoothly animate the scroll position */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Quicksand", sans-serif;
  background-color: var(--lightestBlue);
  color: var(--darkest);
}

.container {
  width: var(--container-width-l);
  margin: 0 auto;
}

h1,
h2 {
  padding: 0;
}

h1 {
  font-size: var(--xl);
  padding-top: var(--xxs);
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

section {
  margin-top: var(--m);
  min-height: 100vh;
}

section > h2 {
  padding-top: var(--xl);
  text-align: center;
  color: var(--lighter);
}

section > h2 {
  margin-bottom: var(--s);
}

.text-light {
  color: var(--lightBlue);
}

a {
  color: var(--darkBlue);
  transition: var(--transition);
}

a:hover {
  color: var(--lighterBlue);
}

.btn {
  background-color: var(--darkBlue);
  width: max-content;
  display: inline-block;
  color: var(--lightestBlue);
  padding: var(--xxs) var(--s);
  border-radius: var(--xxs);
  cursor: pointer;
  transition: var(--transition);
}

btn:hover {
  background-color: var(--lightestBlue);
  color: var(--darkBlue);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: var(--tablet)) {
  .container {
    width: var(--container-width-m);
  }

  section {
    margin-top: var(--m);
  }
}

@media screen and (max-width: var(--mobile)) {
  .container {
    width: var(--container-width-s);
  }

  section > h2 {
    margin-top: var(--s);
  }
}
