.about_container {
  /* display: grid; */
  /* grid-template-columns: 35% 50%; */
  gap: 20%;
  /* padding: Height Width*/
  padding: 50px 150px;
}

.about_me {
  padding: 15px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--darkBlue), transparent);
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img_about_me {
  border-radius: 2rem;
  overflow: hidden;
  max-width: 400px;
  transform: rotate(10deg);
}

.img_about_me:hover {
  transform: rotate(0);
}

.about_cards {
  padding-top: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  min-width: 200px;
  max-width: 400px;
}

.about_card {
  background: var(--blue);
  border: 1px solid transparent;
  text-align: center;
  transition: var(--transition);
}

.about_card:hover {
  background: transparent;
  color: var(--darkBlue);
  border: 1px solid var(--blue);
  cursor: default;
}

/* tablet */

@media (min-width: 768px) {
  .about_container {
    display: flex;
  }

  .img_about_me {
    min-width: 300px;
  }

  .about_me {
    margin-left: 20px;
    background: linear-gradient(45deg, transparent, red, transparent);
  }

  /* TODO: desktop space */
  .about_cards {
    grid-template-rows: repeat(3, 1fr);
    margin-right: 20px;
  }
}
/* 
@media screen and (min-device-width: 1200px) {
  .about_me {
    margin-top: 0;
    margin-left: 10px;
    padding: 20px;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, red, transparent);
    display: grid;
    place-items: center;
  }
} */
