header {
  height: 100vh;
  padding-top: var(--xxxl);
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

h2 {
  color: var(--darkBlue);
}
.cta {
  margin-top: var(--m);
  display: flex;
  justify-content: center;
}

.header_socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--xxs);
}

.scroll_down {
  position: absolute;
  right: 10%;
  font-weight: 600;
}

/* TODO: unwork */

@media screen and (max-width: var(--tablet)) {
  header {
    height: 150vh;
  }
}

@media screen and (max-width: var(--mobile)) {
  header {
    height: 150vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
}
