nav {
  position: sticky;
  top: 0;
  margin: 0;
  float: right;
  background: var(--lighterBlue);
  width: max-content;
  /* position: fixed; */
  -webkit-transform: translateZ(0);
  padding: var(--xxxs);
  border-radius: var(--xxxs);
  backdrop-filter: blur(var(--m));
}

nav a {
  top: 0;
  padding: var(--xxxs);
  padding-top: var(--xs);
}

nav a:hover {
  top: 0;
  background: var(--lighterer);
}

nav a.active {
  /* padding-bottom: 2px;
  height: max-content; */
  background: var(--lighter);
  border-radius: var(--xxxs);
}
